.header__first {
    height: 80px;
    background-color: var(--black-color);
}

.header__second {
    height: 30px;
    background-color: var(--white-color);
}

.grid {
    height: 100%;
}

.header__first-navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__first-navbar-list-icon {
    margin: 0px;
}

.header__first-navbar-list {
    margin-left: 50%;
    transform: translateX(-50%);
}

.header__first-navbar-logo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__first-navbar-brand {
    font-size: 30px;
    margin: 8%;
}

.header__first-navbar-discription {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0px;
}

.header__first-navbar-logo,
.header__first-navbar-item {
    list-style: none;
}

.header__first-navbar-item {
    display: inline-block;
    margin-top: 40px;
    transform: translateY(-50%);
}

.header__first-navbar-item-link {
    color: var(--white-color);
}

.header__first-navbar-icon {
    padding-left: 20px ;
    font-size: 16px;
}



.header__second-navbar {
    height: 100%;
    padding-left: 0px;
}

.header__second-navbar-list {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin: 0px;
    /* justify-content: space-between; */
}

.header__second-navbar-item {
    list-style: none;
    margin-top: 15px;
    transform: translateY(-50%);
    position: relative; 
}

.header__second-navbar-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    padding-left: 36px;
    position: relative;
}

.header__second-navbar-link-seperate::after {
    content: "";
    display: block;
    background-color: var(--black-color);
    width: 0.5px;
    height: 16px;
    left: 18px;
    /* bottom: 15px;
    transform: translateY(100%); */
    position: absolute;
}
